.header {
  @apply sticky top-0 z-30 flex w-full items-center justify-between bg-[#E7ECEE] p-4;
}

.headerLogoContainer {
  @apply flex items-center justify-center md:w-1/5;
}

.headerLogo {
  @apply relative h-10 w-5 cursor-pointer opacity-75 transition hover:opacity-100;
}

.headerLinks {
  @apply hidden flex-1 items-center justify-center space-x-8 md:flex;
}

.headerLink {
  @apply cursor-pointer opacity-75 transition hover:opacity-100;
}

.headerSearchCartContainer {
  @apply flex items-center justify-center gap-x-4 md:w-1/5;
}

.headerIcon {
  @apply h-6 w-6 cursor-pointer opacity-75 transition hover:opacity-100;
}

.headerCartContainer {
  @apply relative cursor-pointer;
}

.headerCartNumber {
  @apply absolute -right-1 -top-1 z-50 flex h-4 w-4 items-center justify-center rounded-full bg-gradient-to-r from-pink-500 to-violet-500 text-[10px] text-white;
}

.headerUserAvatar {
  @apply cursor-pointer rounded-full;
}
