.container {
  @apply sticky top-0 mx-auto flex h-screen max-w-[1350px] items-center justify-between px-8;
}

.titleContainer {
  @apply space-y-8;
}

.title {
  @apply space-y-3 text-5xl font-semibold tracking-wide lg:text-6xl xl:text-7xl;
}

.titleText {
  @apply block;
}

.textColored {
  @apply bg-gradient-to-r from-pink-500 to-violet-500 bg-clip-text text-transparent;
}

.link {
  @apply relative cursor-pointer text-lg font-medium before:absolute before:inset-x-0 before:-bottom-1.5 before:h-0.5 before:origin-left before:scale-x-0 before:transform before:rounded-bl before:bg-black before:transition-all before:duration-200 hover:before:scale-x-100;
}

.image {
  @apply relative hidden h-[450px] w-[450px] transition-all duration-500 md:inline lg:h-[650px] lg:w-[600px];
}
