.container {
  @apply fixed bottom-10 right-10 z-50 flex h-16 w-16 cursor-pointer items-center justify-center rounded-full bg-gray-300;
}

.amount {
  @apply absolute -right-2 -top-2 z-50 flex h-7 w-7 items-center justify-center rounded-full bg-gradient-to-r from-pink-500 to-violet-500 text-[10px] text-white;
}

.icon {
  @apply h-8 w-8 cursor-pointer opacity-75 transition hover:opacity-100;
}
